section {
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 5px 10px gray;
    padding: 16px;
    margin-top: 16px;
    background-color: #289236;
}

.Results {
    border: 1px solid #CAB4D4;
    border-radius: 10px;
    margin: 30px;
    padding: 30px;
    text-align: left;

}

.Dictionary input {
    background-color: #a5dfbb;
    color: #07110c;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
}

.Phonetics a {
    text-decoration: none;
    border: 1px solid gray;
    border-radius: 7px;
    color: #CAB4D4;
    padding: 3px;
    margin: 7px;
    transition: all 150ms ease-in-out;
}

.Phonetics a:hover {
    background-color: #CAB4D4;
    color: #09641d;
}

.Phonetics {
    height: 40px;
}

.Synonyms {
    margin: 3px;
    display: inline;
}

.Photos img {
    border: 5px solid #ecdcf3;
    border-radius: 5px;
    margin: 5px;
}